body {
  font-family: 'Roboto', serif;
  background-color: #fff0d5;
  color: #33334d;
  margin: 0;
  padding: 0;
}

section {
  margin: 20px;
  padding: 20px;
}

nav {
  text-align: center;
}

header {
  background-color: #e0d6ff;
  width: 100%;
  padding: 40px;
}

nav ul{
  background-color: #e44f01;
  list-style: none;
  padding: 30px;  
  width: 100%;
  height: 40px;
}

nav ul li{
  display: inline-block;   
}

nav ul li a {
  margin: 0 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 143, 0);
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px; 
  display: inline-block;   
}

nav ul li a:hover{
    background-color: rgb(185, 2, 2);
    color: rgb(255, 195, 66);
    border-radius: 20px;    
}

h1{
    color: rgb(255, 55, 0); 
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h2{
  color: rgb(255, 127, 0);
  font-style: oblique;
  text-decoration: underline overline;
  text-decoration-thickness: 2.0px;
  text-decoration-skip: none      
}

h3{
  color: rgb(245, 175, 0);
  font-style: italic;  
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-skip: none;
}

.resume p {
  color: black;
  font-style: italic;    
}

video {
  display: block;
  margin: 0 auto;
  background-color: black;
  
}

.aboutme p {
  font-style: italic;
  text-align: center;
  color: black;   
}

#doom,#maraud,#steel,#jjk {
  height: 600px;
  width: auto;   
}

#intru,#king,#malcolmx,#subtle {
  height: 533px;
  width: auto;  
}

#niagara, #gh, #cape{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: block;
}

#destiny{
  width: 1000px;
  height: 500px;
  display: inline;
}

#smite {
  width: auto;
}

#chelsea, #ghfb, #bulls, #bears, #sox {
  display: block;
  margin: 10px auto;
  width: 15em;
  height: auto;
}

.hobbies p{
  text-align: center;
  color: black;
  font-style: italic;
}

footer {
  text-align: center;
  background-color: #e85700;
  font-style: italic;
  color: black;
  margin: 20px;  
}
